<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Counter</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./js/components/firebase.js"></script>
    <script type="module" src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <script type="module">
        import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
        import Login from "./js/components/login.js";

        const app = createApp(Login);
        app.mount("#app");
    </script>

    <div id="app">
        <div v-if="main.data.tabletID>0 && main.data.tabletID<10 && main.data.sessionID>0 && main.data.sessionID<10" class="container flexV container-tablet">
            <h1>Camaligan Vehicle Counter Team {{main.data.tabletID}} - Session {{main.data.sessionID}}</h1>
            
            <div class="container flexH container-vehicle">
                <div v-for="(vehicle, index) in main.data.vehicle" :key="index" class="container flexH container-item">
                    <button @click="decrease(index)" class="btn btn-decrease">-</button>

                    <div class="container flexV container-counter">
                        <div class="itemLabel"><h2 class="itemTitle itemTitle-upper">{{vehicle.label}}</h2></div>
                        <div class="itemCount"><span>{{vehicle.formattedText}}</span></div>
                        <div class="itemLabel"><h2 class="itemTitle itemTitle-lower">{{vehicle.label}}</h2></div>
                    </div>

                    <button @click="increase(index)" class="btn btn-increase">+</button>
                </div>
            </div>
        </div>

        <div v-else class="container flexV container-monitor">
            <div class="container flexH container-allData">
                <div class="container flexV container-column1">
                    <div><span>TEAM</span></div>
                    <div><span>SESSION</span></div>
                    <div v-for="(vehicle, index) in all[0].vehicle">
                        <span>{{vehicle.label}}</span>
                    </div>
                </div>

                <div v-for="(data, index) in all" :key="index" class="container flexV container-allData" :class="'column' + (index + 2)">
                    <div class="tabletID"><span>{{data.tabletID}}</span></div>
                    <div class="tabletID"><span>{{data.sessionID}}</span></div>
                    <div v-for="(vehicle, index) in data.vehicle">
                        <span>{{vehicle.count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
