<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Counters</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Vehicle Counters</h1>
    <div id="app">
        <div v-for="(counter, index) in counters" :key="index" class="counter">
            <h2>Tablet {{ index + 1 }}</h2>
            <div v-for="(count, type) in counter" :key="type" class="vehicle-counter">
                <h3>{{ type }}</h3>
                <button @click="decrease(index, type)">-</button>
                <span>{{ count }}</span>
                <button @click="increase(index, type)">+</button>
            </div>
        </div>
        <button @click="saveData">Save Data</button>
    </div>

    <script src="script.js"></script>
</body>
</html>
